*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
lms_full_system_debug_report.txt
Laporan_Debugging_Lengkap_Drastha_LMS_V1.0.txt
lms_settings_debug_report.txt
Drastha LMS Debugging & Testing V1.0.txt
Laporan_Debugging_Drastha_Learning.txt